* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #343a40;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}
.player-name {
  font-size: 4.4rem;
}
.player-component {
  background-color: #495057;
  font-family: "Climate Crisis";
  font-size: 3.6rem;
  color: #f8f9fa;
  width: 40vw;
  height: 70vh;
  border-radius: 11px 0 0 11px;
  padding: 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.4rem;
}
.player-2 {
  border-radius: 0 11px 11px 0;
}
.active {
  background-color: #868e96;
}
.player-current {
  background-color: #212529;
  padding: 3.6rem;
  text-align: center;
  border-radius: 11px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.other-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.2rem;
  position: absolute;
}
.btn {
  background-color: #343a40;
  border: none;
  padding: 1.6rem 3.2rem;
  color: #fff;
  border-radius: 100px;
  /* width: 60%; */
  font-family: sans-serif;
  font-size: 1.6rem;
}
.btn:hover {
  background-color: #f8f9fa;
  color: #212529;
}
.score-img {
  width: 30%;
}
.win {
  width: 100vw;
  height: 100vh;
  background-color: rgba( 155, 155, 155, 0.25 );
  backdrop-filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win-content{
    font-size: 15rem;
    font-family: 'Climate Crisis';
    color: #fff;
}
.hidden{
    display: none;
}
.icon-close{
    width: 4.4rem;
    height: 4.4rem;
    color: #fff;
    position: absolute;
    top: 2rem;
    right: 2rem;
}